@use "./variables" as *;

// breakpoints
@mixin tablet{
    @media screen and (min-width:768px){
        @content;
    }
}

@mixin desktop{
    @media screen and (min-width:1280px){
        @content;
    }
}

//font types
@mixin text-style($a,$b){
    font-size: $a;
    line-height: $b;
}

//flex
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
