$primary-white:white;
$primary-black:#323232;
$primary-silver:#afafaf;
$second-black:#000000;
$second-silver:#e1e1e1;
$second-white:#fafafa;

@font-face {
    font-family: 'avenir-next';
    src: url(../../Assets/Font/AvenirNextLTPro-Bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: 'avenir-next';
    src: url(../../Assets/Font/AvenirNextLTPro-Demi.otf);
    font-weight: 600;
}
@font-face {
    font-family: 'avenir-next';
    src: url(../../Assets/Font/AvenirNextLTPro-Regular.otf);
    font-weight: 400;
}