@use "./partials/variables" as *;
@use "./partials/mixin" as *;
body{
    margin:0;
    font-family:'avenir-next';
}
*{
    box-sizing: border-box;
}
p{
    margin:0;
    line-height: 1.2rem;
 }
// header:include logo and nav
.bio__header{
    background-color: $primary-black;
    @include flex-column;
    align-items: center;
    padding-top:1rem;
   
    @include tablet{
        @include flex-row;
        padding-top:0;
        padding-left:2rem;
        gap:1rem;
    }   
}
//the 2 nav tabs
.nav{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start:0;
    width:100%;
    list-style: none;
    padding-top: 1rem;
    @include flex-row;
    @include tablet{
        width: 15rem;
   } 
   //individual nav tab
   &__item{
    @include text-style(14px,22px);
    font-family: 'avenir-next';
    font-weight: 600;
    padding:0 15% 1rem 15%;
    text-decoration: none;
    @include tablet{
         width: 27%;
         
    }  
      &--active{
        color:$primary-white;
    }
      &--inactive{
        color:$second-silver;
    } 
 } 
 &__style--active{
    width:50%;
    text-align: center;
    padding-bottom: 1rem;
    color:$primary-white;
    border-bottom: 3px solid $primary-white; 
   
  }
  &__style--inactive{
    width:50%;
    text-align: center;
    padding-bottom: 1rem;
    color:$second-silver;
   
  }  
}


//hero sec：include background image, opacity and title
.bio-hero{
    background-image: url(../Assets/Images/hero-bio.jpg);
    background-size: 100%;
    background-position: center;  
    height:20rem;
    @include tablet{
        height:30rem;
    }
   &__opacity{
    width:100%;
    height:20rem;
    background: rgba(0,0,0,0.5);
    position:relative;
    
    @include flex-row;
    justify-content:flex-start;
    align-items: center;

    @include tablet{
        height:30rem;
   } }

   &__title{
    color:$primary-white;
    @include section-header;
    @include margin-align;
   }    
}


//3 main titles: musician, photo, comment and footer
.title{
    @include section-header;
    @include padding-title;
}


// musicians section
.musicians{
    @include margin-align;
    &__content{
        margin:$margin-mobile;
        @include tablet{
            margin:$margin-tablet;
        }
    }
    &__img{
        width:100%;
    }
    //quoted intro content
    &__intro{
        @include sub-header;
        &--vary{
            @include tablet{
                @include text-style(0.875rem,1.375rem);
            }
        }
    }
    &__title{
        @include sub-header;
    }
    &__items{
        @include tablet{
            @include flex-row;
            justify-content: space-between;
            gap:1rem;
        }
    }
    &__item{
        @include body-copy;
    }
}


//gallery section
.gallery{
    background-color: $second-white;
    &__sec{
        @include margin-align;
    }
    &__imgs{
        @include flex-column;
         gap:1rem;
         margin-bottom: 1rem;
         @include tablet{
             @include flex-row;
             flex-wrap: wrap;
         }
     }
    &__img{
        @include tablet{
            width: 31%;
        }
        @include desktop{
            width:32%;
        }
    }
}

//form+comment section
.form-comment{
    margin:$margin-mobile;
    @include tablet{
        margin:0 15vw;
    }
    @include desktop{
        margin:0 27vw;
    }   
}
.form{
    @include flex-row;
    justify-content: space-between;
    gap:1.5rem;
    padding:1rem;
    border-bottom: 1px solid $second-silver;
    &__comment{
        @include flex-column;
        width:90%;
    }
    &__img{
        @include avatar-img;
    }
    &__label{
        color:$primary-silver;
        @include labels;
        margin:0.5rem 0;
    }
    &__button{
        background-color: $primary-black;
        color:$primary-white;
        height:3rem;
        border-radius: 7px;
        margin:1rem 0 0.5rem 0;
        @include sub-header;
        font-weight: 600;
        @include tablet{
            @include labels;
            width:40%;
            align-self: flex-end;
        &:hover{
                background-color: $second-black;
            }
        }}
        
    
}
.title--margin{
    @include margin-align;
}
#comment,#name{
  border-radius: 4px;
  border:1px solid $second-silver;
  background-color: $second-white;
  padding:0.75rem;
  font-family:'avenir-next';
  @include tablet{
    padding:1rem;
  }
}
#comment{
    resize:none;
}
#name:focus,#comment:focus{
    outline:none;
    border:1px solid $primary-black;
}
#name::placeholder,#comment::placeholder{
    color:$primary-black;
    @include labels;
    font-weight: 400;
}
#comment{
    height:6rem;
    @include tablet{
        height:8rem;
    }
}


//JS comment section
.comments{
    margin-bottom: 2rem;
}
.comment{
 padding:1rem 0 0.5rem 0;
 @include flex-row;
 gap:1.5rem;
 border-bottom: 1px solid $second-silver;
 &__content{
    @include flex-column;
    width:90%;
  }
 &__person{
    @include flex-row;
    justify-content: space-between;
  }
 &__shows__content{
    @include body-copy;
 }
 &__shows__name{
    @include body-copy;
    font-weight: 600;
   
   }
&__shows__date{
    @include body-copy;
    font-weight: 600;
    color:$primary-silver;
   }
&__shows__img{
    @include avatar-img;
  }
&__shows__devider{
    border-bottom: 1px solid $second-silver;
}
}



//footer section
.footer{
  background-color: $primary-black;
  color:$primary-white;
   &__sec{
    position:relative;
    @include margin-align;
} 
   &__socialmedia{
    @include flex-column;
    @include tablet{
      @include flex-row;
      justify-content:space-between;
      align-items:baseline;
  }
  }
  &__titleicons{
    @include flex-column;
    @include tablet{
      @include flex-row;
      align-items: baseline;
      gap:2rem;
  }}
   &__icons{
    @include flex-row;
    gap:2rem;
    margin-bottom: 1rem;
  }
  &__logo{
    position: absolute;
    bottom:4rem;
    @include tablet{
     display:none;
    }
    &--tablet{
        display:none;
        @include tablet{
            display: flex;
        }
    }
 }

 // 3 different contacts section
  &__contacts{
    @include flex-column;
    padding-bottom:10rem;
    gap:1.5rem;
    @include tablet{
      @include flex-row;
      gap:2rem;
      padding-bottom:5rem;
  }
  }
&__name{
    @include body-copy;
    font-weight:600;
   
}
&__name--second{
    margin-bottom:1.5rem;
}
  &__address{
    @include body-copy;
}
&__address--second{
    margin-bottom:1.5rem;
}
  &__email,&__copy{
    @include labels;
    font-weight: 400;
}
  &__copy{
    position:absolute;
    bottom:1rem;
}
}


