@use "./partials/variables" as *;
@use "./partials/mixin" as *;
body{
    margin:0;
}
*{
    box-sizing: border-box;
}
.header{
    background-color: $primary-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:1rem;
    @include tablet{
        flex-direction:row;
        justify-content:space-between;
        align-items:flex-start;
        padding-left:2rem;
    }
    @include desktop{
        justify-content:space-between;
    }
    
}
svg{
    color:$primary-white;
}
.nav{
    width:100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    @include tablet{ 
        justify-content:space-evenly;
        position:relative;
        right:25rem;
        width:20rem;
    }
}
.nav__item{
    @include text-style(14px,22px);
    font-family: 'avenir-next';
    font-weight: 600;
    padding:1rem 5rem;
    @include tablet{
        padding:0;
        padding-bottom:1rem;
    }
    //padding:0 20%;
    //padding-bottom: 1rem;
    
}
.nav__item-active{
    color:$primary-white;
    border-bottom: 3px solid $primary-white;
   
}
.nav__item-inactive{
    color:$second-silver;
}
.hero{
    background-image: url(../Assets/Images/hero-bio.jpg);
    background-size: 100%;
    background-position: center;   
}
.hero__sec{
    height:40vh;
    display:flex;
    justify-content:flex-start;
    align-items: center;
}
.hero__title{
    color:$primary-white;
    @include text-style(24px,32px);
    font-family: 'avenir-next';
    font-weight: 700;
    padding-left:2rem;
}
.main__title{
    @include text-style(24px,32px);
    font-family: 'avenir-next';
    font-weight: 700;
    margin-top:24px;
    margin-bottom: 16px;
}
.main{
    margin:0 1rem;
}
.content__img{
    width:100%;
}
.content__intro{
    @include text-style(14px,22px);
    font-family: 'avenir-next';
    font-weight: 600;
}
.content__title{
    @include text-style(14px,22px);
    font-family: 'avenir-next';
    font-weight: 600;
}
.content__main{
    @include text-style(13px,18px);
    font-family: 'avenir-next';
    font-weight: 400;
}
.gallery__imgs{
    display: flex;
    flex-direction: column;
    gap:1rem;
}