@font-face {
  font-family: "avenir-next";
  src: url(../../Assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "avenir-next";
  src: url(../../Assets/Font/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: "avenir-next";
  src: url(../../Assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    padding-top: 0;
    padding-left: 2rem;
    gap: 1rem;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .nav {
    width: 15rem;
  }
}

.nav__item {
  font-size: 14px;
  line-height: 22px;
  font-family: "avenir-next";
  font-weight: 600;
  width: 50%;
  text-align: center;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .nav__item {
    width: 27%;
  }
}

.nav__item-active {
  color: white;
  border-bottom: 3px solid white;
}

.nav__item-inactive {
  color: #e1e1e1;
}

.hero__img {
  background-image: url(../Assets/Images/hero-bio.jpg);
  background-size: 100%;
  background-position: center;
  height: 18em;
}
@media screen and (min-width: 768px) {
  .hero__img {
    height: 25rem;
  }
}

.hero__opacity {
  width: 100%;
  height: 18em;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero__opacity {
    height: 25rem;
  }
}

.hero__title {
  color: white;
  font-size: 24px;
  line-height: 32px;
  font-family: "avenir-next";
  font-weight: 600;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 36px;
    line-height: 44px;
    padding-left: 2rem;
  }
}

.main__title {
  font-size: 24px;
  line-height: 32px;
  font-family: "avenir-next";
  font-weight: 600;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .main__title {
    padding-top: 48px;
    padding-bottom: 36px;
    font-size: 36px;
    line-height: 44px;
  }
}

.content {
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  .content {
    margin: 0 36px;
  }
}
@media screen and (min-width: 1280px) {
  .content {
    max-width: 1020px;
    margin: 0 auto;
  }
}

.main__content {
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .main__content {
    padding: 0 36px;
  }
}

.content__img {
  width: 100%;
}

.content__intro {
  font-size: 14px;
  line-height: 22px;
  font-family: "avenir-next";
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .content__intro {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 768px) {
  .content__intro-vary {
    font-size: 14px;
    line-height: 22px;
  }
}

.content__title {
  font-size: 14px;
  line-height: 22px;
  font-family: "avenir-next";
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .content__title {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 768px) {
  .content__items {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}

.content__item {
  font-size: 13px;
  line-height: 18px;
  font-family: "avenir-next";
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .content__item {
    font-size: 14px;
    line-height: 22px;
  }
}

.gallery {
  background-color: #fafafa;
  padding: 0 1rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 0 36px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding: 0 130px;
  }
}

.gallery__imgs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__imgs {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .gallery__img {
    width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__img {
    width: 31%;
  }
}/*# sourceMappingURL=bio.css.map */