@use "./partials/variables" as *;
@use "./partials/mixin" as *;
body{
    margin:0 1rem;
}
*{
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    background-color: $primary-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 1rem;
    margin:1rem;
    @include tablet{
        flex-direction:row;
        justify-content:space-evenly;
        align-items:flex-end;
    }
    @include desktop{
        justify-content:space-evenly;
    }
    
}
.title{
    color:$primary-white;
    @include text-style(24px,32px);
    font-family: 'avenir-next';
    font-weight: 700;
}
.nav{
    width:100%;
    display: flex;
    justify-content:space-evenly;
}
.nav__item{
    @include text-style(14px,22px);
    font-weight: 600;
    padding-bottom: 1rem;
    
}
.nav__item-active{
    color:$primary-white;
    border-bottom: 4px solid $primary-white;
   
}
.nav__item-inactive{
    color:$second-silver;
}