@use './partials/mixin' as *;
@use "./partials/variables" as *;

.main{
  background-color:white;
}


//hero sec：include background image, opacity and title
.heroshows{
    background-image: url(../Assets/Images/hero-shows.jpg);
    background-size: 100%;
    background-position: center;  
    height:25rem;
    @include tablet{
        height:30rem;
   } 
   
.hero__content{
    //used to align everything inside
    width:100%;
    height:100%;
    @include flex-column;
    //gap:2rem;
    align-items:flex-start;
    justify-content:space-evenly;
    padding:1rem 2rem; 
    //width:100%;
    //height:100%;
    @include desktop{
        @include flex-row;
        align-items: center;
    }
   }
.hero__titles{

}
.hero__img{
    width:25rem;
}

.hero__subtitle{
    color:$primary-white;
    margin:0;
    font-family: 'avenir-next';
    font-weight: 400;
    @include text-style(22px,32px);
   }
.hero__maintitle{
    color:$primary-white;
    margin: 0;
    @include text-style(32px,32px);
    font-family: 'avenir-next';
    font-weight: 600;
    @include tablet{
        @include text-style(36px,44px);
        
   }
   width:20rem;
}    
}


//3 main titles: musician, photo and footer
.title{
    @include text-style(24px,32px);
    font-family: 'avenir-next';
    font-weight: 600;
    margin:0;

    padding-top:$padding-top-mobile;
    padding-bottom:$padding-bottom-mobile;
    @include tablet{
        padding-top:$padding-top-tablet;
        padding-bottom:$padding-bottom-tablet;
        @include text-style(36px,44px);
    }
}

.shows__list{
    @include desktop{
        @include flex-row;
        justify-content: space-around;
    }
}
.shows__maintitle{
    //color:$primary-white;
    margin-left: 1em;
    @include text-style(32px,32px);
    font-family: 'avenir-next';
    font-weight: 600;
    @include tablet{
        @include text-style(36px,44px);
        
   }

}
.shows__maincontent{
    @include desktop{
        width:70vw;
    }
}
.shows__tablettitle1,.shows__tablettitle2,.shows__tablettitle3{
    width:25%;
    text-align: left;
}
.shows__date,.shows__venue,.shows__location{
    width:25%;
    @include tablet{
        //@include flex-column;
    }
    text-align: left;
}
.shows__button{
    background-color: black;
    color:white;
    width:16vw;
    padding:0.5rem;
}
.shows__card{
    list-style: none;
    //margin:0;
    //padding:1rem;
    width:100%;
    @include tablet{
        @include flex-row;
    }
 
}
.shows__title--tablet{
    width:100%;
    @include mobile{
    display:none;
   }
    @include tablet{
    @include flex-row;
    //justify-content: space-evenly;
    list-style: none;
    
    }
  
}
.shows__title{
    color:grey;
    @include tablet{
        display:none;
    }
}
.shows__date{
    color:black;
}
.shows__button{
    
}
.shows__devider{
    border-top: 1px solid #e1e1e1;
}

//footer section
.footer{
    background-color: $primary-black;
    color:$primary-white;
     &__sec{
      position:relative;
      margin:$margin-mobile;
      @include tablet{
          margin:$margin-tablet;
      }
      @include desktop{
          width: $width-desktop;
          margin:$margin-desktop;
      }
  } 
     //'get in touch' section
     &__socialmedia{
      @include flex-column;
      @include tablet{
        @include flex-row;
        align-items:center;
        gap:2rem;
    }
    }
     &__icons{
      @include flex-row;
      gap:2rem;
      @include tablet{
        padding-top:$padding-top-tablet;
        padding-bottom:$padding-bottom-tablet;
        @include text-style(36px,44px);
    }
    }
    &__logo{
      position: absolute;
      bottom:4rem;
      @include tablet{
       position: absolute;
       right: 0;
       top:4rem;
      }
   }
   // 3 different contacts section
    &__contacts{
      @include flex-column;
      padding-bottom:10rem;
      @include tablet{
        @include flex-row;
        gap:2rem;
        padding-bottom:5rem;
    }
    }
    // individual contact section
    &__contact{
      @include flex-column;
  }
    &__name{
      @include text-style(13px,18px);
      font-family: 'avenir-next';
      font-weight: 600;
      @include tablet{
          @include text-style(14px,20px);
      }
  }
    &__address{
      @include text-style(13px,18px);
      font-family: 'avenir-next';
      font-weight: 400;
      @include tablet{
          @include text-style(14px,20px);
      }
  }
    &__email,&__copy{
      @include text-style(10px,20px);
      font-family: 'avenir-next';
      font-weight: 400;
      @include tablet{
          @include text-style(12px,20px);
      }
  }
    &__copy{
      position:absolute;
      bottom:1rem;
  }
  }
  